.accordion {

  &:not(:first-child) {
    border-top: 1px solid;
  }

  &:last-child {
    padding-bottom: 0;
  }
  
  &--toggle {
    @mixin flattenButton;
    text-align: left;
  }

  &--icon {
    /* style an icon */

    .is-open & {
      /* change style for open accordion */
    }
  }

  &--content {
    overflow: hidden;
  }

  &--inner {
    margin: 0 auto;
    padding: 1rem 0 0; /* set some padding to the accordion inner */
    max-width: 42rem; /* max width for truncating content inside accordion */
  }
}