.drawer {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  max-width: 40rem;
  background: var(--pageText);
  color: var(--pageBG);
  z-index: 10;

  &--backdrop {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0, .85);
    z-index: 9;
  }

  &--inner {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
  }

  &--header {
    display: flex;
    align-items: center;
    position: relative;
    padding: 1rem;
    border-bottom: 1px solid;
  }

  &--close {
    /* Custom Close Button styles */
  }

  &--title {
    margin-right: auto;
  }

  &--content {
    flex: 1;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    padding: 1rem;
  }
}