.form {
  &--error {
    /* Error Message styles */
  }
  
  &--success {
    /* Success Message styles */
  }
}

.control {
  display: flex;
  flex-direction: column;
  text-align: left;
  position: relative;

  &--group {
    display: grid;
    grid-template-columns: 1fr;

    @media (--sm) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &--label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    padding: 1rem;

    .is-filled & {
      display: none;
    }

    &.for-textarea {
      top: 0;
      transform: none;
    }

    &.for-checkbox {
      display: flex;
      flex-direction: row;
      position: relative;
      top: unset;
      left: unset;
      transform: none;
      cursor: pointer;

      svg {
        width: 2rem;
        height: 2rem;
        pointer-events: none;
        display: block;
        flex: none;
        margin-right: 1rem;
        border: 1px solid;
        padding: .5rem;
        transition: all .1s .1s linear;

        input:checked + & {
          background: var(--pageText);
          border-color: var(--pageText);
          transition-delay: 0s;
        }

        input:focus + & {
          border-color: var(--pageText);
        }

        path {
          stroke-dashoffset: 111.46px;
          stroke-dasharray: 111.46px;
          stroke: var(--pageBG);
          transition: all 0.2s cubic-bezier(0.33, 1, 0.68, 1);

          input:checked + & {
            stroke-dashoffset: 0;
            transition-delay: .1s;
          }
        }
      }
    }
  }

  &--error {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
  }

  &--pot {
    display: none;
  }

  input[type="text"],
  input[type="email"],
  input[type="number"],
  textarea {
    position: relative;
    background: none;
    border: none;
    border-radius: 0;
    -webkit-appearance: none;
    outline: none;

    width: 100%;
    padding: 1rem;
    background: none;
    border: 1px solid;
    font-family: inherit;
    font-size: 1rem;
    color: var(--pageText);
    transition: all .15s linear;

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus {
      color: var(--pageText);
      background: none;
      -webkit-text-fill-color: var(--pageText);
      -webkit-box-shadow: 0 0 0 100em var(--pageBG) inset;
    }
  }

  input[type="checkbox"] {
    @mixin sr-only;
  }

  textarea {
    min-height: 5rem;
    max-width: 100%;
  }

  &.has-error {
    input,
    textarea {
      /* Form Control Error styles */
    }
  }
}

::-webkit-input-placeholder {
  color: var(--pageText);
}
::-moz-placeholder {
  color: var(--pageText);
}
:-ms-input-placeholder {
  color: var(--pageText);
}
:-moz-placeholder {
  color: var(--pageText);
}
