.is-disclaimer {
  font-size: .75em;
}

.has-text-stroke {
  color: inherit;
  -webkit-text-stroke-color: inherit;
  -webkit-text-stroke-width: .02em;
  text-stroke: .02em inherit;
}


.is-text-ac {
  text-align: center;
}

.is-text-uc {
  text-transform: uppercase;
}

.is-m0 {
  margin: 0;
}

.is-mt0 {
  margin-top: 0;
}

.is-mb0 {
  margin-bottom: 0;
}

.is-p0 {
  padding: 0;
}

.is-pt0 {
  padding-top: 0;
}

.is-pb0 {
  padding-bottom: 0;
}

.is-hidden {
  display: none;

  &-xs {
    @mixin hide xs;
  }

  &-sm {
    @mixin hide sm;
  }

  &-md {
    @mixin hide md;
  }

  &-lg {
    @mixin hide lg;
  }

  &-xl {
    @mixin hide xl;
  }
}

.sr-only {
  @mixin sr-only;
}

@keyframes scaleUp {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}