/* ----- Mixins ----- */

@define-mixin textured {
  background-image: radial-gradient(var(--pageText) 9%, transparent 9%), radial-gradient(var(--pageText) 9%, transparent 9%);
  background-position: 0 0, 8px 8px;
  background-size: 16px 16px;
}

@define-mixin hashed {
  background-image: repeating-linear-gradient(-45deg, var(--pageText) 0, var(--pageText) 1px, transparent 0, transparent 50%);
  background-size: 16px 16px;
}

@keyframes revealCenter {
  from {
    clip-path: inset(0 50% 0 50%);
  }
  to {
    clip-path: inset(0 0% 0 0%);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* ----- Typography ----- */

body {
  @apply font-mono;
}

p {
  &.is-note {
    @apply p-4 bg-pageText text-pageBG;
  }
}

p,
.rc ul {
  @apply text-xs leading-normal;

  strong {
    @apply font-semibold;
  }

  a:not(.btn) {
    @apply underline;
  }
}

h1 {
  @apply mt-8 mb-6 font-serif font-normal text-8xl;
}

h2, h3 {
  @apply font-sans;
}

.rc {
  @apply mx-auto;

  figure {
    @apply my-16 mx-auto max-w-xl;
  }
}


/* ----- Buttons -----*/

a[href="#content"].skip-link,
.btn {
  @apply px-6 py-2 border border-solid border-current font-sans uppercase tracking-widest;
  font-size: .625rem;
  line-height: 1.25;

  .is-soldout & {
    @apply border-transparent;
    
    &::after {
      @apply block absolute inset-0;
      content: "";
      background: linear-gradient(45deg, transparent calc(50% - 1px), var(--pageText), transparent calc(50% + 1px)), linear-gradient(-45deg, transparent calc(50% - 1px), var(--pageText), transparent calc(50% + 1px));
      mix-blend-mode: difference;
    }
  }

  &.is-disabled {
    @mixin hashed;
  }
}


/* ----- Media ----- */

.photo-placeholder {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--pageBG);
  @mixin textured;
}


/* ----- Forms ----- */

.form {
  @apply mx-auto;
}

.control {
  @apply mb-4;

  &--group {
    @apply gap-x-4;
  }

  &--error {
    @apply top-0 left-auto bg-pageText text-pageBG;
    padding: .125rem .5rem calc(.25rem + 1px);
    font-size: .625rem;
    font-weight: bold;
  }

  input[type="text"],
  input[type="email"],
  input[type="number"],
  textarea,
  &--label {
    padding: .375rem .5rem;
    font-size: .875rem;
  }

  &--label {
    @apply border border-solid border-transparent;
  }
}


/* ----- Page ----- */

.section {
  &.is-error {
    @apply overflow-hidden;

    .section--content {
      @apply z-10;
    }
    
    .video-loop {
      @apply z-0;
    }
  }

  &--title {
    @apply font-sans;
  }
}


/* ----- Accordions ----- */

.accordion {
  @apply mx-auto border-t border-l border-r border-current text-left;

  &:last-child {
    @apply border-b;
  }

  &--toggle {
    @apply block p-4 w-full;

    &::after {
      @apply block absolute top-full inset-x-0 border-b border-current;
      content: "";
    }
  }

  &--inner {
    @apply p-4;
  }
}


/* ----- Carousels ----- */

.carousel {
  @apply mx-auto;

  .product & {
    &::after {
      @apply block absolute top-0 inset-x-0 bottom-8 border border-solid border-current;
      content: "";
    }
  }

  &.is-mini {
    @apply mt-16;
  }

  &--slide {
    .is-mini & {
      @apply px-2;
      flex: 0 0 calc(100% - 4rem);
      width: calc(100% - 4rem);

      @media (--sm) {
        flex: 0 0 45%;
        width: 45%;
      }

      @media (--lg) {
        flex: 0 0 30%;
        width: 30%;
      }
      
      figure {
        @apply border border-solid border-current p-8 lg:p-12;
      }
    }
  }

  &--hud {
    .is-mini & {
      @apply px-4;
    }
  }

  &--thumbs,
  &--dots {
    button {
      @apply bg-transparent border border-solid border-current;

      &::after {
        @apply block absolute inset-0 bg-current z-10 transform scale-y-0 origin-top;
        content: "";
        transition: transform .6s cubic-bezier(0.85, 0, 0.15, 1);
      }

      &.is-active {
        &::after {
          @apply transform-none origin-bottom;
        }
      }
    }
  }

  &--thumbs {
    button {
      &::after {
        mix-blend-mode: difference;
      }
    }
  }
}


/* ----- Cursors ----- */

.cursor {
  span {
    @apply block w-40 h-40 bg-pageBG rounded-full;
  }
}


/* ----- Drawers ----- */

.drawer {
  &--header {
    @apply border-b border-current;
  }

  &--title {
    @apply font-sans uppercase;
  }

  a,
  button,
  input,
  textarea,
  select,
  details {
    &:focus {
      outline: 1px dashed var(--pageBG);
      outline-offset: 2px;
      
      body:not(.is-tabbing) & {
        outline: none;
      }
    }
  }

  .marquee {
    @apply bg-pageBG text-pageText;
  }
}


/* ----- Marquees ----- */

.marquee {
  @apply font-sans uppercase tracking-widest bg-pageText text-pageBG;
  font-size: .666em;

  &.is-white {
    @apply bg-white text-pageBG;
  }

  &.is-inverted {
    @apply bg-pageBG text-pageText;
  }

  &.is-large {
    @apply text-7xl;
    line-height: .65;
  }

  &--item {
    @apply py-2;
  }
}


/* ----- Page Transitions ----- */

.panel-swipe {
  &--bg {
    @apply absolute top-1/2 inset-x-0 transform -translate-y-1/2;
    mix-blend-mode: difference;
  }

  &--content {
    @apply flex flex-col relative w-auto;
    margin-top: -5vh;
    height: 110vh;

    svg {
      @apply w-auto h-full;
    }
  }
}


/* ----- Collections ----- */

.product-item {
  @apply border border-current;
  margin: -.5px;

  &--visuals {
    @apply relative m-4 border border-solid border-current;
  }

  &--status {
    @apply absolute bottom-0 left-0 w-full z-30;
  }

  &--details {
    @apply flex-1 flex flex-col border-t border-current;
  }

  &--header {
    @apply p-4;
  }

  &--title {
    @apply text-xl uppercase text-center;
  }

  &--option {
    @apply mt-auto;

    .option {
      @apply p-0;

      &--values {
        @apply flex justify-center m-0 p-4 border-t border-current;
      }
    }
  }
}


/* ----- Products ----- */

.product {
  @apply max-w-2xl mx-auto md:px-4;

  &.has-gallery {
    @apply max-w-7xl;
  }

  &--inner {
    @apply md:border-l md:border-r md:border-current;

    .has-gallery & {
      @media (--md) {
        @apply grid;
        grid-template-columns: 40% 60%;
      }
    }
  }
  
  &--gallery {
    @apply relative p-4 border-b border-current md:border-b-0 md:border-r;
  }

  &--content {
    @apply flex flex-col;
  }

  &--header {
    @apply flex-1 text-center;
  }
  
  &--title {
    @apply mt-0;
  }

  &--subtitle {
    @apply inline-block px-2 uppercase font-semibold tracking-widest bg-pageText text-pageBG;
  }

  &--details {
    @apply border-l border-r border-current;
  }

  &--header {
    @apply p-8;
  }

  &--options {
    @apply border-b border-current;
  }

  &--actions {
    @apply flex relative p-8;
    @mixin textured;

    .counter {
      @apply mr-8 bg-pageBG;
    }

    .btn {
      @apply bg-pageBG;
    }
  }

  &--stock-indicator {
    @apply flex flex-col justify-center absolute top-1/2 left-0 -ml-6 -mt-6 w-12 h-12 rounded-full z-10 uppercase font-semibold text-center bg-pageText text-pageBG;
    font-size: .625rem;
    animation: spin 6s linear infinite;

    span {
      @apply block -mt-2 leading-none;
      word-spacing: 3rem;
    }
  }

  &--waitlist {
    @apply w-full;

    .form {
      @apply max-w-none;

      &--success {
        @apply border bg-pageBG text-center;

        &-content {
          padding: .375rem .5rem;
          font-size: .875rem;
          line-height: 1.2;
        }
      }

      &--error {
        @apply grid gap-y-2 grid-cols-1 sm:flex;

        &-content {
          @apply flex-1 flex items-center justify-center sm:mr-4 px-2 border border-current bg-pageBG;
          padding: .375rem .5rem;
          font-size: .875rem;
        }

        .btn {
          @apply w-full;
        }
      }

      .control {
        @apply bg-pageBG;
      }
    }
  }
}

.price {
  @apply flex items-center justify-center mb-4 font-sans text-3xl;

  .product-item & {
    @apply m-0 font-mono font-semibold text-base leading-normal;
  }

  &--original {
    @apply relative ml-2 px-4 py-1 overflow-hidden border border-current font-mono text-xs leading-none;
    border-radius: 50%;
    
    &::after {
      @apply block absolute inset-0;
      content: "";
      background: linear-gradient(25deg, transparent calc(50% - 1px), var(--pageText), transparent calc(50% + 1px));
    }
  }
}

.option {
  @apply pb-4;
  
  &--title {
    @apply border-t border-b border-current mb-4 p-2 font-mono text-xs font-semibold text-center;
  }

  &--values {
    @apply grid gap-y-2 gap-x-2 mx-4;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));

    .is-active {
      .btn {
        @apply bg-pageText text-pageBG;
      }
    }

    .is-unavailable {
      .btn {
        @apply border-pageText text-transparent cursor-default;
        @mixin hashed;
      }
    }
  }
}


/* ----- Cart ----- */

.cart-toggle {
  @apply mt-4 mb-8;
  
  span {
    @apply hidden justify-center items-center absolute top-1/2 right-0 transform translate-x-1/2 -translate-y-1/2 bg-pageText text-pageBG w-5 h-5 font-mono font-semibold rounded-full text-xs;
    letter-spacing: -.125ch;

    &.is-active {
      @apply flex;
      animation: revealCenter .6s cubic-bezier(0.85, 0, 0.15, 1) both;
    }
  }
}

.cart {
  &--footer {
    @apply border-t bg-pageText;
  }
  
  &--subtotal {
    @apply flex justify-between mb-4 font-sans uppercase;
  }
}

.cart-item {
  &:not(:last-child) {
    @apply pb-4 border-b border-current;
  }
  
  &--photo {
    .has-ar::before {
      @apply bg-pageBG;
    }
  }

  &--title {
    @apply text-base uppercase;
  }

  &--price {
    @apply font-semibold;
  }
}

.counter {
  &--up,
  &--down {
    @apply border border-current w-6 font-mono;
  }

  &--amount {
    @apply border-t border-b border-current text-xs font-mono;

    &:focus-within {
      outline: 1px dashed var(--pageBG);
      outline-offset: 2px;
      
      body:not(.is-tabbing) & {
        outline: none;
      }
    }

    input {
      @apply p-1;
    }
  }
}


/* ----- Header / Footer / Dropdowns ----- */

.main-navigation {
  @apply flex-none;
}

.logo {
  @apply mx-auto my-4;
  
  &--link {
    @apply h-40 p-2;
  }
}

.main-navigation,
.footer-navigation {
  @apply font-sans;
  
  > ul {
    > li {
      @apply mx-2;
    }
  }
  
  a:not(.btn),
  button {
    @apply uppercase leading-none;
    font-size: .666em;
  }

  .is-active {
    > a:not(.btn),
    > button {
      @apply bg-pageText;
    }
  }

  .dropdown {
    &--content {
      @apply pt-2;
    }
    
    a:not(.btn) {
      @apply py-1 text-xl leading-tight text-current;
      letter-spacing: .25em;
      -webkit-text-fill-color: var(--pageBG);
      -webkit-text-stroke-color: inherit;
      -webkit-text-stroke-width: .05em;
      text-stroke: .05em inherit;
    }
  }
}

.social-nav {
  &--link {
    @apply relative border border-solid border-pageText text-pageText;
    margin: 0 -.5px;

    &:hover {
      @apply bg-pageText text-pageBG;
    }
    
    path {
      @apply stroke-current;
      fill: none;
      stroke-width: 3px;
    }
  }
}