.clean-btn {
  @apply appearance-none no-underline cursor-pointer font-inherit;
}

.sr-only {
  @apply absolute m-0 p-0 border-0 w-px h-px overflow-hidden whitespace-nowrap;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
}

@keyframes pulse {
  0% {
		box-shadow: 0 0 0 0 hsla(var(--pageBG-hsl), 0.3);
  }
  70% {
		box-shadow: 0 0 0 8px hsla(var(--pageBG-hsl), 0);
  }
  100% {
		box-shadow: 0 0 0 0 hsla(var(--pageBG-hsl), 0);
  }
}
