.carousel {
  @apply relative w-full overflow-hidden;

  &.is-draggable {
    cursor: move;
    cursor: grab;
  }

  &--container {
    @apply flex;
    will-change: transform;
  }

  &--slide {
    @apply relative flex-grow-0 flex-shrink-0 w-full;
  }

  &--thumbs {
    @apply flex flex-col absolute top-0 w-20 m-3;

    button {
      @apply m-1;

      &.is-active {
        /* active state styles */
      }
    }
  }

  &--hud {
    @apply flex flex-row items-center overflow-hidden;
  }

  &--nav {
    @apply flex flex-row flex-wrap justify-center relative;

    button {
      @apply block w-6 h-6 text-2xl;
      font-feature-settings: "tnum";
    }
  }

  &--status {
    @apply flex-grow-0 flex-shrink flex flex-row items-center justify-center ml-auto;
  }

  &--counter {
    @apply relative h-4 my-2 overflow-hidden;
    
    span {
      @apply block;
      font-feature-settings: "tnum";
  
      + span {
        @apply absolute inset-x-0 top-0;
      }
    }
  }

  &--progress {
    @apply relative mx-4 w-12 h-px;
    background: rgba(var(--pageText-rgb), .25);

    span {
      @apply block w-full h-full bg-pageText transform origin-left;
      transition: all .4s cubic-bezier(0.16, 1, 0.3, 1);
    }
  }

  &--dots {
    @apply absolute top-0 left-0 flex flex-col m-4;
    
    button {
      @apply w-3 h-3 bg-current mb-1;

      &.is-active {
        /* active state styles */
      }
    }
  }
}