.counter {
  @apply inline-grid h-full;
  grid-template-columns: auto auto auto;

  &--down,
  &--up {
    @apply m-0;
    appearance: textfield;
    -webkit-appearance: none; 
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    @apply m-0 appearance-none;
  }
  
  &--amount {
    @apply relative overflow-hidden w-8;

    &:focus-within {
      outline: 1px dashed var(--pageText);
      outline-offset: 2px;
      
      body:not(.is-tabbing) & {
        outline: none;
      }
    }
  }

  &--input {
    @apply flex relative w-full h-full;

    + .counter--input {
      @apply absolute inset-0;
    }
    
    input {
      @apply relative bg-transparent border-0 rounded-none appearance-none p-0 w-full h-full text-center text-current outline-none;
      font-feature-settings: "tnum";
    }
  }
}