.counter {
  display: inline-grid;
  grid-template-columns: auto auto auto;

  &--down,
  &--up {
    @mixin flattenButton;
    appearance: textfield;
    -webkit-appearance: none; 
    margin: 0;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  &--amount {
    position: relative;
    overflow: hidden;
    width: 2rem;
  }

  &--input {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;

    + .counter--input {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
    }
    
    input {
      position: relative;
      background: none;
      border: none;
      border-radius: 0;
      -webkit-appearance: none;
      outline: none;

      padding: 0;
      width: 100%;
      height: 100%;
      text-align: center;
      color: inherit;
      font-feature-settings: "tnum";
    }
  }
}