[data-marqy] {
  position: relative;
  overflow: hidden;
}

[data-marqy-inner] {
  display: flex;
}

[data-marqy][data-direction='right'] [data-marqy-inner] {
  justify-content: flex-end;
}

[data-marqy-content] {
  display: flex;
  flex: 1 0 auto;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-play-state: running;
  will-change: transform;
}

[data-marqy][data-direction='left'] [data-marqy-content] {
  animation-name: marqyL;
}

[data-marqy][data-direction='right'] [data-marqy-content] {
  animation-name: marqyR;
}

[data-marqy][data-pause-on-hover]:hover [data-marqy-content] {
  animation-play-state: paused;
}

[data-marqy-item] {
  flex-grow: 0;
}

@keyframes marqyL {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes marqyR {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(100%, 0, 0);
  }
}

@media (prefers-reduced-motion) {
  [data-marqy-inner] {
    overflow-x: scroll;
  }

  [data-marqy-content] {
    animation: none !important;
  }
}

.marquee {
  @apply border-b;
  
  &--item {
    @apply flex;
  }

  &--text {
    @apply block p-8 text-5xl leading-none;
  }

  &--photo {
    @apply relative w-32 sm:w-48 px-8 py-4 sm:px-12 sm:py-8;

    [data-theme='metal'] & {
      filter: invert(43%) sepia(83%) saturate(3151%) hue-rotate(337deg) brightness(92%) contrast(111%);
    }

    img {
      html:not([data-theme='dark']) & {
        filter: invert(1);
      }
    }
  }

  &--product {
    @apply flex flex-col -my-px;
    margin: -1px 0;
    width: calc(80vw - 2rem);
    max-width: 28rem;

    * {
      @apply whitespace-normal;
    }

    .product-card {
      @apply flex-1;
    }
  }
}