.marquee {
  @apply relative overflow-hidden opacity-0 transition-opacity;

  &.is-ready {
    @apply opacity-100;
  }

  * {
    @apply whitespace-nowrap;
  }

  &--inner {
    @apply inline-flex;
    flex: 1 0 auto;
    animation-name: marqueeL;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-play-state: paused;
    will-change: transform;

    .is-ready & {
      animation-play-state: running;
    }

    .is-reversed & {
      animation-name: marqueeR;
    }
  }

  &--content {
    @apply inline-flex;
    flex: 1 0 auto;

    .is-reversed & {
      transform: translate3d(-100%, 0, 0);
    }
  }

  &--item {
    @apply flex;
    flex: 1 0 auto;

    span {
      @apply block whitespace-pre;
    }
  }
}

@keyframes marqueeL {
  0% { transform: translate3d(0, 0, 0); }
  100% { transform: translate3d(-50%, 0, 0); }
}

@keyframes marqueeR {
  0% { transform: translate3d(0, 0, 0); }
  100% { transform: translate3d(50%, 0, 0); }
}