.mega-navigation {
  @apply absolute top-full inset-x-0 z-30 bg-pageBG;

  /* Page Dimmer: click to close */
  &--backdrop {
    @apply fixed inset-0 z-40 bg-black bg-opacity-40;
  }

  /* Background of opened mega nav */
  &--bg {
    @apply absolute top-full inset-x-0 z-20 -mt-px h-px bg-pageBG;
    will-change: transform;
    transform-origin: 0 0;
    transition: transform .8s cubic-bezier(0.16, 1, 0.3, 1);

    /* account for the header when styled as an overlay that hasn't scrolled scrolled */
    .is-overlay:not(.has-bg) & {
      @apply top-0;
    }
  }
}

/* Customize megadropdown navigation buttons: */
/* (you should mostly offload these to the general header links/button styles) */
.mega-toggle {
  &--icon {
    @apply inline-block mr-2 rounded-full border;
    width: 10px;
    height: 10px;

    .is-open & {
      @apply bg-pageText;
      animation: pulse 2s infinite;
    }
  }
}

.mega-item {
  @apply absolute top-0 inset-x-0 z-10 -mt-px overflow-hidden;
  
  &--outer {
    @apply overflow-hidden;
    will-change: transform;
    transform: translateY(-100%);
    transition: transform .8s cubic-bezier(0.16, 1, 0.3, 1);
    
    .is-showing & {
      transform: none;
    }
  }

  &--inner {
    will-change: transform;
    transform: translateY(100%);
    transition: transform .8s cubic-bezier(0.16, 1, 0.3, 1);

    .is-showing & {
      transform: none;
    }
  }

  &--content {
    @apply relative px-8 pb-12;
  }

  ul {
  }

  a,
  button {
    @apply block text-4xl leading-normal hover:opacity-30;
    transition: opacity .2s linear;
  }
}