.panel-swipe {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--pageText);
  color: var(--pageBG);
  z-index: 99;
  pointer-events: none;
  overflow: hidden;

  &--content {
    /* Loader Content styles */
  }
}