.product {
  position: relative;

  &--price {
    display: flex;
    align-items: center;
    justify-content: center;

    span.is-discounted {
      margin-left: .5rem;
      font-size: .75rem;
    }
  }
}