.form {
  @apply relative;
  
  &--error {
    /* Error Message styles */
  }
  
  &--success {
    /* Success Message styles */
  }
}

.control {
  @apply flex flex-col relative text-left;

  &--group {
    @apply grid gap-y-2 grid-cols-1 sm:grid-cols-2;

    &.is-inline {
      @apply sm:flex;

      .control {
        @apply sm:flex-1 m-0;
      }

      .btn {
        @apply sm:w-auto;
      }
    }
  }

  &--label {
    @apply absolute top-1/2 transform -translate-y-1/2 left-0 p-4;

    .is-filled & {
      @apply hidden;
    }

    &.for-textarea {
      @apply top-0 transform-none;
    }

    &.for-checkbox {
      @apply transform-none flex relative top-auto left-auto p-0 cursor-pointer;

      svg {
        @apply block flex-none w-6 h-6 mr-4 p-1 pointer-events-none border border-current transition-colors;
        transition-delay: .15s;

        input:checked + & {
          @apply bg-pageText;
          transition-delay: 0s;
        }

        path {
          @apply stroke-current text-pageBG transition-all;
          stroke-dashoffset: 120px;
          stroke-dasharray: 120px;
          transition-delay: 0s;

          input:checked + & {
            stroke-dashoffset: 0;
            transition-delay: .15s;
          }
        }
      }

      .rc {
        @apply flex flex-col justify-center m-0 select-none;
      }
    }
  }

  &--error {
    @apply absolute top-full inset-x-0;
  }

  &--pot {
    @apply hidden;
  }

  input[type="text"],
  input[type="email"],
  input[type="number"],
  textarea {
    @apply relative appearance-none bg-transparent w-full p-4 rounded-none border border-solid border-pageText font-inherit text-base leading-none text-pageText;

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus {
      @apply bg-transparent text-pageText;
      -webkit-text-fill-color: var(--pageText);
      -webkit-box-shadow: 0 0 0 100em var(--pageBG) inset;
    }
  }

  input[type="checkbox"] {
    @apply sr-only;
  }

  textarea {
    @apply max-w-full;
    min-height: 5rem;
  }

  &.has-error {
    input,
    textarea {
      /* Form Control Error styles */
    }
  }
}

::-webkit-input-placeholder {
  @apply text-pageText;
}
::-moz-placeholder {
  @apply text-pageText;
}
:-ms-input-placeholder {
  @apply text-pageText;
}
:-moz-placeholder {
  @apply text-pageText;
}
