html {
  &.is-loading,
  &.is-loading * {
    cursor: wait !important;
  }
}

body {
  display: flex;
  flex-direction: column;
}

.section {
  @apply relative py-16;

  &.is-error {
    @apply min-h-screen flex flex-col items-center justify-center text-center;
  }
}