.collection {
  @apply border-b;

  &--tools {
    @apply sticky top-[var(--headerHeight)] z-10 flex justify-between border-b bg-pageBG;
  }

  &--content {
    @apply relative z-0 overflow-hidden;
  }
  
  &--grid {
    @apply grid grid-cols-1 md:grid-cols-3;

    &.is-empty {
      @apply grid-cols-1;
    }
  }

  &--empty {
    @apply flex justify-center px-8 py-16 min-h-[35vh];
  }

  &--pagination {
    @apply relative p-4 sm:py-8 is-textured bg-pageBG border-t text-center;
  }

  &--count {
    @apply relative p-4 sm:py-8 bg-pageBG border-t text-center;
  }

  &--filter-actions {
    @apply flex items-center px-2 sm:px-4;

    .filters-toggle {
      @apply clean-btn flex items-center relative bg-transparent p-4 text-sm leading-normal font-semibold uppercase;

      &--count {
        @apply w-6 h-6 ml-2 rounded-full bg-pageText text-pageBG text-xs leading-loose;
      }
    }

    .filters-reset {
      @apply hidden sm:block ml-2;
    }
  }

  &--filter-chips {
    @apply flex bg-pageText;
    
    .accordion {
      @apply border-0;

      &--inner {
        @apply max-w-none p-0 border-b border-pageText;
      }
    }
  }
}

.collection-count {
  @apply hidden relative ml-2 leading-none;
  vertical-align: super;
  font-size: .5em;

  /* Only show product counts for the mega-nav */
  .mega-nav & {
    @apply inline-block;
  }
}

.collection-sort {
  @apply flex items-center ml-auto px-2 sm:px-4;

  .listbox--btn {
    @apply p-4;
  }

  &--title {
    @apply hidden sm:block mr-2 text-sm leading-normal font-semibold uppercase;
  }

  &--icon {
    @apply inline-block mr-2 rounded-full border w-[10px] h-[10px];

    .is-open & {
      @apply bg-pageText;
      animation: pulse 2s infinite;
    }
  }
}

.product-card {
  @apply flex flex-col relative;

  .collection &,
  .marquee--product & {
    @apply p-8 border;
    margin: -.5px;
  }

  &.is-inline {
    @apply my-4;
  }

  &--visuals {
    @apply relative;
  }

  &--thumb {
    @apply z-0;
  }
  
  &--photo {
    @apply relative overflow-hidden;

    .is-hover {
      @apply absolute inset-0 z-10 opacity-0 invisible transition-all;

      .product-card:hover & {
        @apply opacity-100 visible;
      }
    }
  }

  &--gallery {
    @apply relative;

    .carousel {
      &--hud {
        @apply z-30;
      }
    }
  }

  &--details {
    @apply text-center;

    .product-card--visuals + & {
      @apply mt-6;

      .is-inline & {
        @apply mt-4;
      }
    }
  }

  &--title {
    @apply m-0 !important;
    
    .is-featured & {
      @apply text-base;
    }

    .is-inline & {
      @apply text-2xl;
    }

    + .price {
      @apply mt-2;
    }
  }

  &--link {
    @apply block no-underline text-current;

    &::after {
      @apply block absolute inset-0 z-20;
      content: "";
    }
  }

  .price {
    @apply flex items-center justify-center;

    &--current {
      @apply sm:text-base sm:leading-normal font-semibold;
    }

    &--discount {
      @apply ml-2 p-1 rounded-sm bg-pageText text-pageBG text-xxs leading-tight tracking-widest font-semibold uppercase;
    }
  }

  &--option {
    @apply relative z-30 mt-4;

    .option {
      @apply m-0 p-0 border-0;

      &--values {
        @apply mx-auto;
      }
    }
  }

  &--add {
    @apply absolute bottom-0 inset-x-0 z-30 text-center mx-4 mb-8 opacity-0 invisible translate-y-1/2 transition-all;
    will-change: transform;

    .product-card:hover & {
      @apply opacity-100 visible translate-y-0;
    }
  }
}

.product-featured {
  @apply flex flex-col relative;

  h2 {
    @apply mt-4 text-base font-semibold text-center transition-opacity duration-200;

    .product-featured:hover & {
        @apply opacity-100 visible;
      }
  }

  &:hover {
    h2 {
      @apply opacity-40;
    }
  }
}