.footer {
  position: relative;
  overflow: hidden;
  
  &--content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
  }

  .logo {
    margin: 1rem auto;
    
    &--link {
      margin: 0 auto;
      height: 3em;
      padding: .5em;
    }
  }

  &--disclaimer {
    /* customize disclaimer line */
  }
}

.social-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 3rem 0;

  &--link {
    display: block;
    margin: 0 .25rem;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1rem;
    line-height: 0;
  }
}