.header {
  @apply relative;
  
  &--content {
    @apply flex flex-col items-center;
  }
}

.logo {
  @apply flex;

  &--link {
    @apply block mx-auto;

    svg {
      @apply block w-auto h-full fill-current;
    }
  }
}

.menu-toggle {
  @apply block relative ml-auto p-4 w-12 h-12 md:hidden;

  &.is-open span {
    @apply transform rotate-45;
  }

  span {
    @apply block relative w-full h-full transition-transform;

    &::before,
    &::after {
      @apply block absolute top-1/2 inset-x-0 bg-current;
      content: "";
      height: 2px;
      margin-top: -1px;
    }

    &::after {
      @apply transform rotate-90;
    }
  }
}

.main-navigation,
.footer-navigation {
  @apply flex-1;
  
  > ul {
    @apply flex flex-col;

    @media (--md) {
      @apply flex-row;
    }

    li {
      &.is-active {
        a {
          /* active state styles */
        }
      }

      a:not(.btn),
      button {
        @apply block;
      }
    }
  }
}

a[href="#content"].skip-link {
  @apply block fixed top-0 left-0 z-10 transition-transform;
  transform: translateY(-150%);

  &:focus {
    @apply transform-none;
  }
}