a[href="#content"].skip-link {
  @apply block fixed top-0 left-0 transition-transform;
  z-index: 99;
  transform: translateY(-150%);

  &:focus {
    @apply transform-none;
  }
}

.header {
  @apply sticky top-0 inset-x-0 z-50;
  background: red;

  &.is-overlay {
    @apply h-0;
  }
  
  &--wrapper {
    @apply relative z-20 p-4 bg-pageBG;

    .is-overlay & {
      @apply bg-transparent transition-colors duration-300;
    }

    .has-bg & {
      @apply bg-pageBG;
    }

    .is-white & {
      @apply text-white delay-75;
    }

    &::after {
      @apply absolute inset-x-0 bottom-0 border-t;
      content: "";
    }
  }
  
  &--content {
    @apply flex flex-col items-center relative z-30;
  }

  &--observer {
    @apply absolute top-8;
  }
}

.logo {
  @apply flex flex-col relative z-10;

  &--link {
    @apply block p-2;

    svg {
      @apply block fill-current w-auto h-12;
    }
  }
}

.menu-toggle {
  @apply hidden;
}

.cart-toggle {
  @apply clean-btn relative bg-transparent mx-2 p-0;
  font: inherit;

  &--count {
    @apply inline-block ml-1 opacity-30;

    &.is-active {
      @apply opacity-100;
    }
  }
}

.main-navigation {
  &--desktop {
    @apply flex justify-between items-center absolute inset-0;

    .menu-left,
    .menu-right {
      @apply flex items-center;
    }

    ul {
      @apply flex;

      li {
        @apply mx-2;
      }
    }

    button {
      @apply clean-btn bg-transparent;
      font: inherit;
    }

    a,
    button {
      @apply block p-2 text-sm leading-normal font-semibold uppercase;
    }
  }
}