.header {
  position: relative;
  
  &--content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.logo {
  display: flex;

  &--link {
    display: block;
    margin: 0 auto;

    svg {
      display: block;
      width: auto;
      height: 100%;
      fill: currentColor;
    }
  }
}

.menu-toggle {
  display: none;
  position: relative;
  margin-left: auto;
  padding: 1rem;
  width: 3rem;
  height: 3rem;

  @media (--mdMax) {
    display: block;
  }

  &.is-open span {
    transform: rotate(45deg);
  }

  span {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform .3s cubic-bezier(0.33, 1, 0.68, 1);

    &::before,
    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      height: 2px;
      margin-top: -1px;
      background: currentColor;
    }

    &::after {
      transform: rotate(90deg);
    }
  }
}

.main-navigation,
.footer-navigation {
  flex: 1;
  
  > ul {
    display: flex;
    flex-direction: column;

    @media (--md) {
      flex-direction: row;
    }

    li {
      &.is-active {
        a {
          /* active state styles */
        }
      }

      a:not(.btn),
      button {
        display: block;
      }
    }
  }
}

a[href="#content"].skip-link {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  transform: translateY(-150%);
  transition: transform .4s ease-out;

  &:focus {
    transform: none;
  }
}