.mega-nav {
  @apply hidden sm:block absolute top-full inset-x-0 z-30 bg-pageBG;

  /* Background of opened mega nav */
  &--bg {
    @apply hidden sm:block;

    &::before {
      @apply absolute top-full inset-x-0 z-10 h-px bg-pageBG;
      will-change: transform;
      transform-origin: 0 0;
      transform: scaleY(var(--h));
      transition: transform .8s cubic-bezier(0.16, 1, 0.3, 1);
      content: "";

      /* account for the header when styled as an overlay that hasn't scrolled */
      .is-overlay:not(.has-bg) & {
        @apply top-0;
      }
    }

    &::after {
      @apply absolute top-full inset-x-0 -mt-px z-20 border-t;
      transform: translate3d(0, var(--hpx), 0);
      transition: transform .8s cubic-bezier(0.16, 1, 0.3, 1);
      content: "";

      /* account for the header when styled as an overlay that hasn't scrolled */
      .is-overlay:not(.has-bg) & {
        @apply top-0;
      }
    }
  }

  &--border {
    @apply absolute inset-x-0 top-full z-10 h-px
  }

  &--backdrop {
    @apply fixed inset-0 z-0 bg-black bg-opacity-40 pointer-events-none opacity-0;
    transition: opacity .15s linear;

    &.is-active {
      @apply pointer-events-auto opacity-100;
      backdrop-filter: blur(6px);
    }
  }
}

/* Customize megadropdown navigation buttons: */
/* (you should mostly offload these to the general header links/button styles) */
.mega-toggle {
  &--icon {
    @apply inline-block mr-2 rounded-full border;
    width: 10px;
    height: 10px;

    .is-open & {
      @apply bg-pageText;
      animation: pulse 2s infinite;
    }
  }
}

.mega-item {
  @apply absolute top-0 inset-x-0 z-10 -mt-px overflow-hidden invisible pointer-events-none;
  transition: visibility .2s .8s;

  &.is-active {
    @apply visible pointer-events-auto;
    transition-delay: 0s;
  }

  &--content {
    @apply grid grid-cols-2 relative px-8 pt-1 pb-12;
    will-change: transform;
  }

  ul {
    a,
    button {
      @apply inline-block text-4xl leading-normal hover:opacity-40 transition-opacity duration-200;
    }
  }

  &--featured {
    @apply grid grid-cols-2 gap-4 max-w-2xl relative w-full border-l pl-8;

    &-title {
      @apply block absolute top-0 right-full w-2 text-xs uppercase tracking-widest font-semibold;
      
      span {
        @apply block overflow-hidden absolute top-1/2 left-0 whitespace-nowrap transform rotate-90;
        transform-origin: 0 0;
      }
    }
  }
}