body {
  font-family: Courier;
}

@define-mixin textured {
  background-image: radial-gradient(var(--pageText) 9%, transparent 9%), radial-gradient(var(--pageText) 9%, transparent 9%);
  background-position: 0 0, 8px 8px;
  background-size: 16px 16px;
}

@define-mixin hashed {
  background-image: repeating-linear-gradient(-45deg, var(--pageText) 0, var(--pageText) 1px, transparent 0, transparent 50%);
  background-size: 16px 16px;
}

.panel-swipe {
  &--bg {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    mix-blend-mode: difference;
  }

  &--content {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: -5vh;
    width: auto;
    height: 110vh;

    svg {
      width: auto;
      height: 100%;
    }
  }
}

.main-navigation,
.footer-navigation {
  font-family: 'satan';
  
  > ul {
    > li {
      margin: 0 .5rem;

      > a:not(.btn) {
        transition: background 0s .5s;
      }
    }
  }
  
  a:not(.btn),
  button {
    font-size: .666em;
    text-transform: uppercase;
  }

  .is-active {
    > a:not(.btn),
    > button {
      background: var(--pageText);
    }
  }

  .dropdown {
    a:not(.btn) {
      font-size: 1.25rem;
      letter-spacing: .25em;
      color: inherit;
      -webkit-text-fill-color: var(--pageBG);
      -webkit-text-stroke-color: inherit;
      -webkit-text-stroke-width: .05em;
      text-stroke: .05em inherit;
    }
  }
}

.section {
  text-align: center;
}

.hero {
  margin: 0 auto 4rem;
  max-width: 42rem;
}

.marquee,
.farquee {
  font-family: 'satan';
  font-size: .666em;
  text-transform: uppercase;
  letter-spacing: .15em;
  background: var(--pageText);
  color: var(--pageBG);

  &.is-white {
    background: white;
    color: var(--pageBG);
  }

  &.is-inverted {
    background: var(--pageBG);
    color: var(--pageText);
  }

  &.is-large {
    font-size: 4rem;
    line-height: .65;
  }
}

.accordion {
  max-width: 42rem;
  margin: 0 auto;
  border-top: 1px solid;
  border-left: 1px solid;
  border-right: 1px solid;
  text-align: left;

  &:last-child {
    border-bottom: 1px solid;
  }

  &--toggle {
    display: block;
    padding: 1rem;
    width: 100%;

    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      border-bottom: 1px solid;
    }
  }

  &--inner {
    padding: 1rem;
  }
}

.carousel {
  max-width: 42rem;
  margin: 0 auto;
}

.drawer {
  &--title {
    font-family: 'satan';
    text-transform: uppercase;
  }
}

.form {
  max-width: 42rem;
  margin: 0 auto;
}

.control {
  margin-bottom: 1rem;

  &--group {
    column-gap: 1rem;
  }

  &--error {
    top: 0;
    left: auto;
    padding: .125rem .5rem calc(.25rem + 1px);
    background: var(--pageText);
    color: var(--pageBG);
    font-size: .625rem;
    font-weight: bold;
  }
}

p {
  font-size: .75em;
}

h1 {
  margin: 2rem 0 1rem;
  font-family: 'GandurNew Light';
  font-weight: normal;
  font-size: 6rem;

  .is-error & {
    font-size: 3rem;
  }
}

h2, h3 {
  font-family: 'satan';
}

.btn {
  padding: 1em 2em;
  border: 1px solid;
  font-family: 'satan';
  font-size: .666em;
  text-transform: uppercase;
  letter-spacing: .15em;

  .is-soldout & {
    border-color: transparent;
    
    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: linear-gradient(45deg, transparent calc(50% - 1px), var(--pageText), transparent calc(50% + 1px)), linear-gradient(-45deg, transparent calc(50% - 1px), var(--pageText), transparent calc(50% + 1px));
      mix-blend-mode: difference;
    }
  }
}

.is-disclaimer {
  font-family: Courier;
}

.logo {
  margin: 2rem auto;
}

.social-nav {
  &--link {
    position: relative;
    margin: 0 -.5px;
    border: 1px solid var(--pageText);

    &:hover {
      background: var(--pageText);

      path {
        stroke: var(--pageBG);
      }
    }
    
    path {
      fill: none;
      stroke: var(--pageText);
      stroke-width: 3px;
    }
  }
}

.grid {
  max-width: 80rem;
  padding: 0 2rem;
  margin: 0 auto;
  
  &.has-wireframe {
    [class^="is-col"] {
      border: 1px solid;
      margin: -.5px;
    }

    span {
      display: block;
      padding: 1rem;
    }
  }
}

.product {
  max-width: 50rem;
  margin: 0 auto;
  
  &--title {
    margin: 0;
  }

  &--price {
    margin-bottom: 1rem;
    font-family: 'satan';
    font-size: 2rem;
  }

  &--subtitle {
    display: inline-block;
    padding: 0 .5em;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: .125em;
    background: var(--pageText);
    color: var(--pageBG);
  }

  &--details {
    border-left: 1px solid;
    border-right: 1px solid;
  }

  &--header {
    padding: 2rem;
  }

  &--options {
    border-bottom: 1px solid;
  }

  &--actions {
    display: flex;
    position: relative;
    padding: 2rem;
    @mixin textured;

    .counter {
      margin-right: 2rem;
      background: var(--pageBG);
    }

    .btn {
      background: var(--pageBG);
    }
  }

  &--stock-indicator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 0;
    margin-left: -1.5rem;
    margin-top: -1.5rem;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    z-index: 2;
    font-size: .625rem;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    background: var(--pageText);
    color: var(--pageBG);
    animation: spin 6s linear infinite;

    span {
      display: block;
      margin-top: -.5em;
      line-height: 1;
      word-spacing: 3rem;
    }
  }

  &--waitlist {
    width: 100%;

    .form {
      max-width: none;

      .control {
        background: var(--pageBG);
      }
    }
  }
}

.option {
  padding-bottom: 1rem;
  
  &--title {
    border-top: 1px solid;
    border-bottom: 1px solid;
    margin-bottom: 1rem;
    padding: .5rem;
    font-family: 'courier';
    font-size: .75rem;
    font-weight: 600;
  }

  &--values {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    row-gap: .5rem;
    column-gap: .5rem;
    margin: 0 1rem;

    .is-active {
      .btn {
        background: var(--pageText);
        color: var(--pageBG);
      }
    }

    .is-unavailable {
      .btn {
        @mixin hashed;
        border-color: var(--pageText);
        color: transparent;
        cursor: default;
      }
    }
  }
}

.cart-toggle {
  margin-top: 1rem;
  
  span {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(50%, -50%);
    background: var(--pageText);
    color: var(--pageBG);
    width: 1.25rem;
    height: 1.25rem;
    font-family: 'courier';
    font-weight: 600;
    border-radius: 50%;
    font-size: .75rem;
    letter-spacing: -.125ch;

    &.is-active {
      display: flex;
      animation: revealCenter .6s cubic-bezier(0.85, 0, 0.15, 1) both;
    }
  }
}

.cart {
  &--footer {
    margin-top: 1rem;
    padding-top: 1rem;
    border-top: 1px solid;
  }
  
  &--subtotal {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    font-family: 'satan';
    text-transform: uppercase;
  }
}

.cart-item {
  &:not(:last-child) {
    padding-bottom: 1rem;
    border-bottom: 1px solid;
  }
  
  &--photo {
    .is-aspect::before {
      background: var(--pageBG);
    }
  }

  &--title {
    font-size: 1rem;
    text-transform: uppercase;
  }

  &--price {
    font-weight: 600;
  }
}

.counter {
  &--up,
  &--down {
    border: 1px solid;
    width: 1.5rem;
    font-family: 'courier';
  }

  &--amount {
    border-top: 1px solid;
    border-bottom: 1px solid;
    font-size: .75rem;
    font-family: 'courier';

    input {
      padding: .25rem;
    }
  }
}