@define-mixin flattenButton {
  display: inline-block;
  position: relative;
  margin: 0;
  padding: 0;
  background: none;
  -webkit-appearance: none !important;
  border: none;
  border-radius: 0;
  text-decoration: none;
  cursor: pointer;
  font: inherit;
  color: inherit;
}

@define-mixin sr-only {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

@define-mixin aspect-ratio $width: null, $height: null {
  position: relative;

  &::before {
    content: "";
    display: block;
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: calc(($height / $width) * 100%);
  }
}

@define-mixin grid $size {
  .is-col$(size)-12 {
    grid-column: span 12;
  }

  .is-col$(size)-9 {
    grid-column: span 9;
  }

  .is-col$(size)-8 {
    grid-column: span 8;
  }

  .is-col$(size)-7 {
    grid-column: span 7;
  }

  .is-col$(size)-6 {
    grid-column: span 6;
  }

  .is-col$(size)-5 {
    grid-column: span 5;
  }

  .is-col$(size)-4 {
    grid-column: span 4;
  }

  .is-col$(size)-3 {
    grid-column: span 3;
  }
}

@define-mixin hide $size {
  &-up {
    @media (--$(size)) {
      display: none;
    }
  }

  &-down {
    @media (--$(size)Max) {
      display: none;
    }
  }
}
